<!-- Syscheck configuration snippet (verified in /var/ossec/etc/ossec.conf) -->
<syscheck>
  <frequency>43200</frequency>
  <scan_on_start>yes</scan_on_start>
  <directories check_all="yes">/etc,/usr/bin,/var/www</directories>
</syscheck>
