<!-- Local rules snippet (appended near end of /var/ossec/rules/local_rules.xml) -->
<group name="my_custom_rules">
  <rule id="100100" level="10">
    <decoded_as>process_failed</decoded_as>
    <description>Potential malicious activity detected!</description>
  </rule>
</group>
